@import '../../sass/variables';

.error-message {
  margin-bottom: 2.5rem;
  padding: 1rem;
  text-align: center;
  background-color: $color-red-error;
  color: $color-white;

  &__text {
    font-size: 1.7rem;
  }
}
