@import '../../sass//mixins';

.trip-events {
  @include sections-common-styles;

  &__title {
    margin-bottom: 2rem;
    text-align: center;
  }

  &__button-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}
