@import './sass/variables';

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(
    to right bottom,
    $color-primary,
    $color-blue-dark
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 100vw;
  padding: 2.5rem 1rem;
  font-family: 'Dosis', sans-serif;
  font-size: 1.6rem;
  color: $color-white;

  @media only screen and (min-width: 25em) {
    padding: 3rem 1.5rem;
  }
}
