@import '../../sass/variables';

.new-version-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: hsl(100%, 15%, 12%);
  padding: 1rem 0;
  font-size: 1.8rem;
  text-align: center;

  &__button-wrapper {
    margin-top: 0.75rem;

    .custom-button {
      color: $color-white;
      border-bottom: 1px solid $color-white;
      text-transform: uppercase;

      &:not(:last-child) {
        margin-right: 2.75rem;
      }
    }
  }
}
