@import './variables';

@mixin components-common-styles {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1rem;
  border-radius: $border-radius-primary;
  color: $color-black;

  &:not(:last-child) {
    margin-bottom: 4rem;
  }
}

@mixin shrink {
  top: -0.85rem;
  left: 30%;
  font-size: 1.3rem;
}
