@mixin components-common-styles {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1rem;
  border-radius: 5px;
  color: #000;

  &:not(:last-child) {
    margin-bottom: 4rem;
  }
}

@mixin shrink {
  top: -0.75rem;
  font-size: 1.3rem;
}
