@import '../../sass/variables';

.history-editor-form {
  &__form {
    display: flex;
    justify-content: space-between;
    background-color: $color-white;
    padding: 1rem;
    border-radius: $border-radius-primary;
    color: $color-black;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  &__nr {
    color: $color-orange;
    font-size: 1.8rem;
    margin-right: 5px;
  }

  &__block {
    display: flex;
    align-items: center;
    // max-width: 35%;
  }

  &__input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    &.country input {
      padding: 0;
      width: 3.5rem;
      margin: 2px;
    }
    &.time input {
      padding: 0;

      &[name='time'] {
        width: 5rem;

        @media only screen and (min-width: 25em) {
          margin-right: 1.5rem;
        }
      }

      &[name='date'] {
        width: 8rem;
      }
    }
  }
}
