.country-option {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 5rem;
  border-radius: 5px;
  background-color: #fff;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;

  &:focus {
    outline: none;
  }
}
