@import '../../sass//mixins.scss';

.history-item {
  @include components-common-styles;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__time {
    color: #540977;
  }
}
