@import '../../sass/mixins.scss';
@import '../../sass/variables';

.history-item {
  @include components-common-styles;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__nr {
    color: $color-orange;
  }

  &__time {
    color: $color-primary;
  }
}
