@import '../../sass//mixins.scss';

.country-select {
  @include components-common-styles;

  &__title {
    margin-bottom: 2rem;
    text-align: center;
  }

  &__options {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    justify-items: center;
  }

  &__button-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
  }

  &__input-wrapper {
    display: flex;
    justify-content: center;
    margin: 1.5rem auto;
    width: 10rem;
  }
}
