@import '../../sass/mixins.scss';

.send-borders {
  @include sections-common-styles;

  &__title {
    text-align: center;
    margin-bottom: 2.5rem;
  }

  &__button-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.5rem;
  }
}
