@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.send-borders {
  @include sections-common-styles;

  &__title {
    text-align: center;
    margin-bottom: 2.5rem;
  }

  &__block {
    font-size: 1.9rem;
    font-weight: 500;
    padding: 1.5rem 0;
    margin-bottom: 2rem;
    border-bottom: 3px solid $color-primary;
  }

  &__paragraph {
    margin-bottom: 1rem;
  }

  &__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
  }
}
