@import './variables';

@mixin sections-common-styles {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1rem;
  border-radius: $border-radius-primary;
  color: $color-text;

  &:not(:last-child) {
    margin-bottom: 4rem;
  }

  @media only screen and (min-width: 31.25em) {
    max-width: 85%;
    margin: 0 auto;
    padding: 2rem;
  }

  @media only screen and (min-width: 43.75em) {
    padding: 2rem 5rem;
  }

  @media only screen and (min-width: 68.75em) {
    max-width: 50%;
  }
}

@mixin sign-in-sign-up-styles {
  @include sections-common-styles;

  &__title {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
  }

  &__form {
    position: relative;
  }

  &__inputs-wrapper {
    width: 80%;
    margin: 0 auto;

    .custom-input {
      margin-bottom: 2rem;
    }

    @media only screen and (min-width: 43.75em) {
      width: 65%;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
  }

  &__spinner-wrapper {
    position: absolute;
    bottom: 0.7rem;
    left: calc(50% + 6rem);
  }
}

@mixin shrink {
  top: -0.85rem;
  left: 0.5rem;
  font-size: 1.3rem;
  transform: translate(0, -50%);
}

@mixin modal-styles {
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    backdrop-filter: blur(4px);
    z-index: 99;
    &__main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      border-radius: $border-radius-primary;
      color: $color-black;
      background-color: $color-white;
      width: 85%;
      max-width: 60rem;
      min-height: 15rem;
      padding: 2rem;
    }

    &__title,
    &__text {
      margin-bottom: 2rem;
      font-size: 2rem;
    }

    &__text {
      margin-bottom: 2rem;
      font-size: 1.8rem;
      white-space: pre-line;
    }

    &__form {
      margin-bottom: 2rem;
    }

    &__button-wrapper {
      display: flex;
      justify-content: space-between;

      .custom-button:not(:last-child) {
        margin-right: 3.5rem;
      }
    }
  }
}
