//Colors
$color-primary: #540977;

$color-blue-dark: #0d043a;
$color-red-clear: #da1919;
$color-red-error: #dd0f0f;
$color-orange: #cf4b0e;

$color-black: #000;
$color-white: #fff;

$color-grey-light: #777;

//Border radius
$border-radius-primary: 5px;
