@import '../../sass//mixins';
@import '../../sass/variables';

.history-item {
  @include list-items-common-styles;

  &__time {
    color: $color-primary;
  }

  &.trip-start {
    background-image: linear-gradient(
      to left,
      $color-white,
      $color-white 30%,
      $color-red-transparent
    );
  }

  &.trip-end {
    background-image: linear-gradient(
      to left,
      $color-white,
      $color-white 30%,
      $color-green-transparent
    );
  }

  &.selected {
    background-image: none;
  }
}
