@import '../../sass/variables';

.history-item {
  background-color: $color-white;
  padding: 1rem;
  border-radius: $border-radius-primary;
  color: inherit;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__border,
  &__event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__nr {
    color: $color-orange;
  }

  &__time {
    color: $color-primary;
  }
}
