@import '../../sass/variables';

.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: $color-white;
  padding: 1rem;
  border-radius: $border-radius-primary;
  color: inherit;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &.trip-start {
    background-image: linear-gradient(
      to left,
      $color-white,
      $color-white 30%,
      $color-red-transparent
    );
  }

  &.trip-end {
    background-image: linear-gradient(
      to left,
      $color-white,
      $color-white 30%,
      $color-green-transparent
    );
  }

  &.selected {
    background-color: $color-selection;
    background-image: none;
    color: white;

    .history-item__time,
    .history-item__nr {
      color: $color-white;
    }
  }

  &__nr {
    color: $color-orange;
  }

  &__time {
    color: $color-primary;
  }
}
