@import '../../sass//mixins';

.archive {
  @include sections-common-styles;

  &__title {
    text-align: center;
    margin-bottom: 2.5rem;
  }

  &__filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2.5rem;

    & .custom-button {
      font-size: 1.7rem;
      color: $color-text;
      border-bottom: 1px solid $color-text;
    }
  }

  &__info {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
  }
}
