@import '../../sass/variables';

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;
  text-decoration: none;
  margin: 0 auto;

  &__title {
    font-family: 'Audiowide', cursive;
    font-style: italic;
    font-size: 3.6rem;
    letter-spacing: 2px;
    text-align: center;

    @media only screen and (min-width: 25em) {
      font-size: 4rem;
    }

    @media only screen and (min-width: 31.25rem) {
      font-size: 4.8rem;
    }

    @media only screen and (min-width: 68.75em) {
      font-size: 6.8rem;
    }

    @media only print {
      color: $color-black;
    }
  }

  &__icon {
    fill: $color-white;
    width: 40px;
    height: 40px;
    padding: 0 0.5rem 0 1rem;
    // flex-shrink: 0; TODO this line causes problems on iPhones - title is overflowing the viewport as SVG is not being resized correctly in Safari. Without this line no icon is visible in Logo component in Safari

    @media only screen and (min-width: 31.25rem) {
      width: 6rem;
      height: 6rem;
      padding: 0 0 0 1rem;
    }

    @media only screen and (min-width: 68.75em) {
      width: 7rem;
      height: 7rem;
      padding: 0 0 0 1.5rem;
    }

    @media only print {
      fill: $color-black;
    }
  }
}
