@import '../../sass/variables';

.logo {
  display: block;
  margin: 0 auto;
  fill: $color-white;

  @media only screen and (min-width: 31.25rem) {
    width: 95%;
  }

  @media only screen and (min-width: 68.75rem) {
    width: 85%;
  }
}
