@import '../../sass/mixins.scss';
@import '../../sass/variables';

.custom-input {
  position: relative;

  &__input {
    border: none;
    border: 2px solid $color-primary;
    border-radius: $border-radius-primary;
    padding: 0.75rem 1.5rem;
    background-color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: 700;
    color: $color-primary;
    text-align: center;
    width: 100%;

    &:focus {
      outline: none;

      & + label {
        @include shrink;
      }
    }

    &:disabled {
      color: $color-grey-light;
      border: 1px solid $color-grey-light;

      & + label {
        color: $color-grey-light;
      }
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: top 0.3s, left 0.3s, transform 0.3s, font-size 0.3s;
    color: $color-primary;
    font-weight: 700;

    &.shrink {
      @include shrink;
    }
  }
}
