@import '../../sass/variables';

.history-editor {
  border: 2px solid $color-primary;
  border-radius: $border-radius-primary;
  padding: 1.5rem 0.75rem;
  margin: 2rem 0;

  @media only screen and (min-width: 43.75em) {
    padding: 2rem 4rem;
  }

  &__title {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__text {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 1.5rem;

    span {
      color: $color-red-clear;
      font-weight: 700;
    }
  }
}
