@import '../../sass/variables';

.borders-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::after {
    position: absolute;
    display: block;
    content: 'Obróć urządzenie, aby wyświetlić tabelę';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 80%;
    text-align: center;
    color: $color-white;
    font-size: 3rem;

    @media only screen and (orientation: landscape), (min-width: 43.75em) {
      display: none;
    }
  }

  &__name {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  & table,
  & th,
  & td {
    border: 1px solid $color-white;
    padding: 1rem;
    text-align: center;
  }

  & table {
    width: 90%;
    border-collapse: collapse;
    display: none;

    @media only screen and (orientation: landscape), (min-width: 43.75em) {
      display: table;
    }
  }

  & th {
    background-color: $color-white;
    color: $color-primary;

    &:not(:last-child) {
      border-right: 1px solid $color-primary;
    }
  }

  @media only print {
    & table,
    & th,
    & td {
      border: 1px solid $color-black;
      color: $color-black;
      orientation: landscape;
    }

    & table {
      width: 80%;
    }
  }
}
