@import '../../sass/variables';

.borders-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__name {
    margin-bottom: 2.5rem;
  }

  & table,
  & th,
  & td {
    border: 1px solid $color-white;
    padding: 1rem;
    text-align: center;
  }

  & table {
    width: 60%;
    border-collapse: collapse;
  }

  & th {
    background-color: $color-white;
    color: $color-primary;

    &:not(:last-child) {
      border-right: 1px solid $color-primary;
    }
  }

  @media only print {
    & table,
    & th,
    & td {
      border: 1px solid $color-black;
      color: $color-black;
      orientation: landscape;
    }

    & table {
      width: 80%;
    }
  }
}
