@import '../../sass//mixins.scss';

.history {
  @include components-common-styles;

  &__title {
    margin-bottom: 2rem;
    text-align: center;
  }

  &__list {
    list-style: none;
  }

  &__button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
  }
}
