@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.history {
  @include components-common-styles;

  &__title {
    margin-bottom: 2rem;
    text-align: center;
  }

  &__list {
    list-style: none;
  }

  &__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1.5rem;

    &.sort {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__sort-status {
    margin: 0 auto;
    font-size: 1.4rem;
    color: $color-primary;
  }
}
