@import '../../sass/mixins.scss';
@import './src/sass/variables';

.current-country {
  @include components-common-styles;

  &__title {
    text-align: center;
  }

  &__country {
    display: block;
    color: $color-orange;
    font-size: 6rem;
    text-align: center;
  }

  &__button-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}
