@import '../../sass/mixins';
@import '../../sass/variables';

.set-config {
  @include sections-common-styles;

  &__title {
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 4rem;
    border-bottom: 3px solid $color-primary;
  }

  &__section {
    @include sections-common-styles;

    @media only screen and (min-width: 68.75em) {
      max-width: 75%;
    }
  }

  &__section-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .custom-input {
      margin-bottom: 2.5rem;
    }
  }
}
