@import '../../sass/mixins';
@import '../../sass/variables';

.set-config {
  @include sections-common-styles;

  &__title {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 3px solid $color-primary;
  }

  &__section {
    position: relative;
    padding: 3.5rem 0;

    &:not(:last-child):after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 3px;
      width: 25%;
      background-color: $color-primary;
      border-radius: $border-radius-primary;
    }
  }

  &__section-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .custom-input {
      margin-bottom: 2.5rem;
    }
  }
}
