@import '../../sass/variables';

.select-option {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 5rem;
  border-radius: 5px;
  background-color: $color-white;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  word-break: break-all;

  &.place {
    width: 13rem;
    font-size: 1.6rem;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    color: $color-grey-light;
  }
}
